body {background-color:tan;}
h1{color:green;}

div.maindiv {
  background-color: white;
  color:black;
  padding: 20px;
  width: 300px;
  border-radius: 25px;
  margin-right: auto; margin-left: auto;  

}

