body {background-color:tan;}
h1{color:rgb(155, 155, 155);
   font-family:verdana;
}

div.maindiv {
  background-color: white;
  color:black;
  padding: 20px;
  width: 300px;
  border-radius: 25px;
  margin-right: auto; margin-left: auto;  

}
